.navbar {
    background-color:#7ca3f7;
    color: black;
    font-family:  'Righteous', cursive;
    width: 100%;
    overflow: hidden;
}

.nav_wrapper{
    width:100%;
    background-color:#7ca3f7;
  }

.navbar:hover {
    text-decoration: none;
    color:black;
}

.nav-home {
    color: white;
    font-size: 30px;
    font-family:  'Righteous', cursive;
}

.nav-item {
    color: white;
    /* margin-left: 35px; */
    font-size: 20px;
    font-family: 'Righteous', cursive;
}

.nav-home:hover {
    text-decoration: none;
    color:#35b84d;
    background-color:#7ca3f7;
}

.nav-item:hover {
    text-decoration: none;
    color:#35b84d;
    background-color: #7ca3f7;
}
